<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mms.demo.mapper.ProductMapper">
    <select id="findProductById" resultType="com.mms.demo.model.Product">
        select
        productid,name,price,imageurl as imgUrl,quantity
        from product
        where productid=#{id}
    </select>
    <select id="findAllProduct" resultMap="ProductMap">
        select
        *
        from product
    </select>
    <resultMap id="ProductMap" type="com.mms.demo.model.Product">
        <id column="productid" javaType="java.lang.Integer" property="productId" />
        <result column="name" javaType="java.lang.String" property="name"/>
        <result column="price" javaType="java.lang.Double" property="price"/>
        <result column="imageurl" javaType="java.lang.String" property="imgUrl"/>
        <result column="quantity" javaType="java.lang.Integer" property="quantity"/>
    </resultMap>
</mapper>